.slotList{
    background-color:rgb(83, 83, 83);
    border-radius: 6px;
    border-width: 4px;
    border-style: solid;
    border-color: dodgerblue;
    overflow: auto;
    height: 500px;
    text-align: left;
    width: 500px;
    padding-right: 16px;
}

.dateTitle{
    font-size: 20px;
    color:gold;
}

.selection{
    color: gold;
}

body{
    text-align: center;
}