/* screen width 800 <= x <= 1800px */
@media (min-width: 800px) and (max-width: 1800px){
    .container{
        width: 75%;
    }
}

/* screen width <= 800 */
@media (max-width: 800px)  {
    .container{
        width: 90%;
    }
}

/* screen width >= 1800px */
@media (min-width: 1800px){
    .container{
        width: 1350px;
    }
}

.errContainer{
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.192),
    0 15px 30px rgba(0, 0, 0, 0.185),
    0 30px 40px rgba(0, 0, 0, 0.171),
    0 45px 50px rgba(0, 0, 0, 0.171);
    background-color: rgba(56, 56, 56, 0.281);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    
    width: fit-content;
    min-width: 200px;
    margin: auto;
    padding: 16px;
    border-radius: 16px;
}

.container{
    padding: 16px;
    border-radius: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    min-height: 500px;
    position: relative;

    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.192),
    0 15px 30px rgba(0, 0, 0, 0.185),
    0 30px 40px rgba(0, 0, 0, 0.171),
    0 45px 50px rgba(0, 0, 0, 0.171);
    background-color: rgba(56, 56, 56, 0.281);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

.slotList{
    border-width: 2px 0 0 0;
    border-style: solid;
    border-color: rgba(221, 221, 221, 0.418);
    overflow: auto;
    min-height: 100px;
    text-align: left;
    padding: 0px 16px 0px 16px;
}

.slotList::-webkit-scrollbar {
    width: 12px;
}
  
.slotList::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgb(177, 177, 177);
    border-radius: 12px;
}
  
.slotList::-webkit-scrollbar-thumb {
    background: rgb(145, 145, 145);
    border-radius: 12px;
}

.slotList::-webkit-scrollbar-thumb:hover {
    background: rgb(122, 122, 122);
}

.slotList::-webkit-scrollbar-thumb:active {
    background: rgb(112, 112, 112);
}

.panel{
    border-radius: 8px;
    margin-top: 6px;
    margin-bottom: 6px;
    background-color: rgba(58, 58, 58, 0.267);
    
    text-align: left;
}

.panelHeader{
    font-size: 20px;
    color:gold;
    border-radius: 8px;
    background-color: rgba(54, 54, 54, 0.432);
    
    user-select: none;
    cursor: pointer;
    min-height: 35px;
    padding-left: 16px;
    overflow: hidden;
    line-height: 35px;
    z-index: 1;

    top: 0px;
    position: sticky;
    position: -webkit-sticky;
}

.panelHeader::before{
    content: '+';
}

.panelHeader.active{
    background-color: rgba(87, 87, 87, 0.849);
}

.panelHeader.active::before{
    content: '-';
}

.panelHeader:hover{
    background-color: rgba(112, 112, 112, 0.603);
}

.panelContent{
    transition: all 0.2s;
    overflow: hidden;
    text-align: left;
    max-height: 0px;
}

.item{
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    min-width: 260px;
    user-select: none;
}

.selection,.slotCount{
    color: gold;
}

.footer{
    position: absolute;
    bottom: 4px;
    left: 16px;
    right: 16px;
    border-style: solid;
    border-width: 2px 0 0 0;
    border-color: rgba(221, 221, 221, 0.418);
}

body{
    text-align: center;
}

