body{
    text-align: center;
}

.container{
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.432);
    background-color: rgba(63, 63, 63, 0.507);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    
    width: fit-content;
    margin: auto;
    padding: 16px;
    border-radius: 16px;
    margin-top: 80px;
}