body{
    text-align: center;
}

.container{
    background-color: rgba(63, 63, 63, 0.432);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    width: fit-content;
    margin: auto;
    padding: 16px;
    border-radius: 16px;
    box-shadow: 0 6px 20px rgba(247, 247, 247, 0.356);
    margin-top: 80px;
}