td{
    padding-top: 10px;
}

.container{
    width: fit-content;
    margin: auto;
    padding: 16px;
    border-radius: 16px;
    box-shadow: 0 6px 20px rgba(247, 247, 247, 0.363);
    margin-top: 160px;

    background-color: rgba(63, 63, 63, 0.596);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}