body{
    text-align: center;
}

table{
    text-align: justify;
}

.err.left{
    text-align: left;
}

td{
    padding-top: 10px;
}

.container{
    width: fit-content;
    margin: auto;
    padding: 16px;
    border-radius: 16px;
    margin-top: 160px;

    box-shadow: 0 6px 30px rgba(20, 20, 20, 0.363);
    background-color: rgba(63, 63, 63, 0.507);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}